<!--	Footer-->

<footer>
  <section class="footer-container dark-section"> 
	  <i class="footer-icon fa-brands fa-twitter"></i> 
	  <i class="footer-icon fa-brands fa-facebook"></i> 
	  <i class="footer-icon fa-brands fa-instagram"></i> 
	  <i class="footer-icon fa-solid fa-envelope"></i>
    <p>© Copyright 2023 Healthy Me!</p>
  </section>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> 
<script src="index.js" charset="utf-8"></script>
<script src="categorylist.js" charset="utf-8"></script>
</body>
</html>